.collapse {
  list-style: none;
  border-radius: 5px;
  height: auto;
}
.collapse__head {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ff6060;
}
@media (max-width: 1024px) {
  .collapse__head {
    height: 42px;
  }
}
@media (max-width: 767px) {
  .collapse__head {
    height: 30px;
  }
}
.collapse__head__title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
@media (max-width: 1024px) {
  .collapse__head__title {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .collapse__head__title {
    font-size: 14px;
  }
}
.collapse__icon {
  width: 24px;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.32, 0, 0.07, 1);
}
.collapse__icon--Rotate {
  transform: rotate(-180deg);
}
@media (max-width: 1024px) {
  .collapse__icon {
    width: 20px;
  }
}
@media (max-width: 767px) {
  .collapse__icon {
    width: 16px;
  }
}
.collapse__content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
  background-color: #f6f6f6;
  font-size: 18px;
  padding: 0 15px;
  line-height: 1.5;
}
.collapse__content--scale {
  max-height: 500px;
  padding: 25px 15px;
  opacity: 1;
}
@media (max-width: 1024px) {
  .collapse__content {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .collapse__content {
    font-size: 12px;
  }
}

.carousel {
  width: 100%;
  height: 415px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}
.carousel__button {
  position: absolute;
  width: 47px;
}
.carousel__button--next {
  right: 20px;
}
.carousel__button--prev {
  left: 20px;
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .carousel__button {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .carousel__button {
    width: 12px;
  }
}
.carousel__slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel__image {
  object-fit: cover;
  width: 100%;
  height: 415px;
}
.carousel__num {
  position: absolute;
  color: white;
  font-size: 18px;
  width: 100%;
  bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .carousel__num {
    display: none;
  }
}
@media (max-width: 1024px) {
  .carousel {
    border-radius: 15px;
    height: 320px;
  }
}
@media (max-width: 767px) {
  .carousel {
    border-radius: 10px;
    height: 255px;
  }
}

.banner {
  height: 223px;
  max-width: 1280px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px 43px;
  overflow: hidden;
  position: relative;
  background-color: black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.banner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.banner--brightness img {
  filter: brightness(0.4);
}
.banner p {
  position: absolute;
  padding: 0 25px;
  font-size: 48px;
  color: white;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .banner p {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .banner p {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .banner {
    height: 165px;
    border-radius: 18px;
    margin-bottom: 31px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 22px;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 115px;
  padding: 0px 10px 0px 10px;
  height: 25px;
  background-color: #ff6060;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .tag {
    font-size: 10px;
  }
}

.host__name {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 10px;
  gap: 10px;
}
@media (max-width: 767px) {
  .host__name {
    gap: 5px;
  }
}

.host__firstName,
.host__lastName {
  display: block;
  font-size: 18px;
  color: #ff6060;
  font-weight: 400;
}
@media (max-width: 767px) {
  .host__firstName,
  .host__lastName {
    font-size: 12px;
  }
}

.rating__star--1 {
  color: #ff6060;
  font-size: 24px;
}
@media (max-width: 767px) {
  .rating__star--1 {
    font-size: 14px;
  }
}
.rating__star--0 {
  color: #e3e3e3;
  font-size: 24px;
}
@media (max-width: 767px) {
  .rating__star--0 {
    font-size: 14px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content__title {
  font-size: 36px;
  color: #ff6060;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .content__title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .content__title {
    font-size: 18px;
  }
}
.content__Localisation {
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .content__Localisation {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .content__Localisation {
    font-size: 14px;
  }
}
.content__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.owner__profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.owner__name {
  font-size: 18px;
  color: #ff6060;
}
.owner__photo {
  border-radius: 50%;
  width: 64px;
}
@media (max-width: 767px) {
  .owner__photo {
    width: 32px;
  }
}
@media (max-width: 767px) {
  .owner {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
  }
}

.fiche_collapse {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767px) {
  .fiche_collapse {
    flex-direction: column;
  }
}

.collapse_descrition,
.collapse_equipement {
  width: 582px;
}
@media (max-width: 767px) {
  .collapse_descrition,
  .collapse_equipement {
    width: 100%;
  }
}

/*# sourceMappingURL=Fiche.css.map */
