@import './variables';

.collapse {
  list-style: none;
  border-radius: 5px;
  height: auto;

  &__head {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $main-color;
    @media (max-width: $breakpoint-tablet) {
      height: 42px;
    }
    @media (max-width: $breakpoint-mobile) {
      height: 30px;
    }
  }

  &__head__title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    @media (max-width: $breakpoint-tablet) {
      font-size: 19px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 24px;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.32, 0, 0.07, 1);
    &--Rotate {
      transform: rotate(-180deg);
    }
    @media (max-width: $breakpoint-tablet) {
      width: 20px;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 16px;
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    background-color: $background-cards;
    font-size: 18px;
    padding: 0 15px;
    line-height: 1.5;

    &--scale {
      max-height: 500px; // Ajuste selon le contenu
      padding: 25px 15px;
      opacity: 1;
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: 15px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
    }
  }
}
