@import './variables';
@import './mixins';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-footer;
  min-height: 209px;
  .footer__img {
    width: 122px;
  }
  .footer__content {
    @include typoConf(24px, $text-color-with-background);
  }
}
