@import './variables';
@import './mixins';

.footer {
  @include flex-center;
  flex-direction: column;
  background-color: $background-footer;
  height: 209px;
  min-height: 209px;
  padding-top: 30px;
  margin-top: 50px;
  &__image {
    width: 122px;
  }
  &__content {
    @include typoConf(24px, $text-color-with-background);
    margin-top: 30px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
      width: 114px;
      text-align: center;
      margin-top: 10px;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    padding-top: 0px;
    margin-top: 27px;
  }
}
