// Main
$main-color: #ff6060;
$main-background-color: white;

// Utilities color
$background-footer: black;
$background-cards: #f6f6f6;

// text
$text-color: #000000;
$text-color-with-background: white;

// Utilities Positions / Dimensions
$normal-width-content: 1240px;
