// Main
$main-color: #FF6060;
$main-background-color: white;

// Utilities color
$background-footer: black;

// text
$text-color: #000000;
$text-color-with-background: white;

// Utilities Positions / Dimensions
$normal-width-content: 1240px;