@import './variables';
@import './mixins';

.banner {
    height: 223px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 25px;
            position: relative;
            filter: brightness(0.4);
        }
        p {
            position: absolute;
            @include typoConf(48px, $text-color-with-background);
            font-weight: bold;
            

        }
}