@import './variables';
@import './_collapse';
@import './_carousel';
@import './_tags';
@import './_hostName';
@import './_rating';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content {
  &__title {
    font-size: 36px;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 10px;
    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 18px;
    }
  }

  &__Localisation {
    font-size: 26px;
    font-weight: 400;
    @media (max-width: $breakpoint-tablet) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 14px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-size: 18px;
    color: $main-color;
  }

  &__photo {
    border-radius: 50%;
    width: 64px;
    @media (max-width: $breakpoint-mobile) {
      width: 32px;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
  }
}

.fiche_collapse {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.collapse_descrition,
.collapse_equipement {
  width: 582px;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}
