@import './variables';
@import './_collapse';
@import './_carousel';
@import './_tags';
@import './_hostName';
@import './_rating';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  &__title {
    font-size: 36px;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__Localisation {
    font-size: 26px;
    font-weight: 400;
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-size: 18px;
    color: $main-color;
  }

  &__photo {
    border-radius: 50%;
    width: 64px;
  }
}

.fiche_collapse {
  display: flex;
  justify-content: space-between;
}

.collapse_descrition,
.collapse_equipement {
  width: 582px;
}
