@import './variables';
@import './mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $normal-width-content;
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  gap: 50px;

  .navbar__link {
    @include typoConf(24px, $text-color);
    font-weight: 500;
  }

  .navbar__link--active {
    text-decoration: underline;
  }

  .navbar__link--inactive {
    text-decoration: none;
  }
}
