@import './variables';
@import './_header.scss';
@import './_footer.scss';
@import './_card.scss';
@import './_carousel.scss';

.cardList {
  // width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 50px;
  column-gap: 50px;
  background-color: $background-cards;
  border-radius: 25px;
  padding: 56px 50px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    background-color: $main-background-color;
    padding: 0;
    row-gap: 20px;
  }
}
